<div class="row">
    <div class="col-12">
        <img src="" class="img-fluid"/>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <h1>{{ recipe.name }}</h1>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <!-- Example single danger button -->
        <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false" appDropdown>
                Manage Recipe
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item alert-info alert-link" (click)="addToShopping()" href="javascript:void(0)">
                    <i class="fas fa-plus-circle"></i> To Shopping List</a>
                <a class="dropdown-item alert-link" [routerLink]="['edit']" style="cursor: pointer"><i class="fas fa-edit"></i> Edit</a>
                <a class="dropdown-item alert-danger alert-link" style="cursor: pointer"><i class="fas fa-trash-alt"></i>
                    Delete
                </a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <img [src]="recipe.imagePath" class="rounded-circle mx-auto d-block" [alt]="recipe.name">
    </div>
</div>
<div class="row">
    <div class="col-12">
        {{ recipe.description }}
    </div>
    <div class="col-12">
        <ul>
            <li class="list-group-item"
            *ngFor="let ingredient of recipe.ingredients">
                {{ ingredient.name }} - {{ ingredient.amount }}
            </li>
        </ul>
    </div>
</div>
