<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" [routerLinkActive]="'active'">
                <a class="nav-link" routerLink="/"><i class="fas fa-home"></i> {{ appName | async }} <span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" [routerLinkActive]="'active'">
                <a class="nav-link" routerLink="/recipes">Recipes</a>
            </li>
            <li class="nav-item" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link" routerLink="/shopping-list">Shopping List</a>
            </li>
            <ng-template class="my-2 my-lg-0 float-right" [ngIf]="authService.isAuthenticated()">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Manage
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" (click)="onSave()" style="cursor: pointer">Save Data</a>
                        <a class="dropdown-item" (click)="onFetch()" style="cursor: pointer">Fetch Data</a>
                    </div>
                </li>
            </ng-template>
            <ng-template [ngIf]="authService.isAuthenticated()">
                <li class="nav-item my-2 my-lg-0" [routerLinkActive]="'active'"
                    [routerLinkActiveOptions]="{exact: true}">
                    <a class="nav-link" style="cursor: pointer;" (click)="onLogout()">Logout</a>
                </li>
            </ng-template>
            <ng-template [ngIf]="!authService.isAuthenticated()">
                <li class="nav-item my-2 my-lg-0" [routerLinkActive]="'active'"
                    [routerLinkActiveOptions]="{exact: true}">
                    <a class="nav-link" routerLink="/signin">Sign in</a>
                </li>
                <li class="nav-item my-2 my-lg-0" [routerLinkActive]="'active'"
                    [routerLinkActiveOptions]="{exact: true}">
                    <a class="nav-link" routerLink="/signup">Sign up</a>
                </li>
            </ng-template>


        </ul>
    </div>
</nav>
