<div class="row">
  <div class="col-12">
    <form>
      <div class="row">
        <div class="col-sm-5 form-group">
          <label>Name: </label>
          <input type="text" class="form-control" id="name" name="name" placeholder="Name..." [(ngModel)]="ingeredient.name" />
        </div>
        <div class="col-sm-2 form-group">
          <label>Amount: </label>
          <input type="number" class="form-control" id="amount"  name="amount" placeholder="Amount..." [(ngModel)]="ingeredient.amount"/>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <button class="btn btn-success m-2" type="button" (click)="onAddItem()">Add</button>
          <button class="btn btn-danger m-2" type="button">Delete</button>
          <button class="btn btn-primary m-2" type="button">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
